<!-- Extending the base layout -->
{% extends 'base.html' %}

{% block content %}
<!-- Heading for the add game form -->
<h2>Add Recipes</h2>

<!-- Form to submit a new game -->
<form method="post">
    <!-- Input fields for the game details -->
    <label for="title">Recipe Name</label>
    <input type="text" name="name" id="name" required><br><br> <!-- Game title -->

    <label for="title">Ingredients</label>
    <input type="text" name="ingredients" id="ingredients" required><br><br> <!-- Game platform -->

    <label for="title">Method</label>
    <input type="text" name="method" id="method" required><br><br> <!-- Game genre -->

    <!-- Button to submit the form -->
    <button class="submitformbutton" type="submit">Add Recipe</button>
</form>
{% endblock %}